.pnt-mfu-titulo-pag{
    text-transform: uppercase;
    font-family: sans-serif;
    color: darkblue;
    margin: 60px 0 56px 0;
}

.pnt-mfu-aviso{
    margin-top: 45px;
}

.pnt-mfu-aviso .panel-heading .panel-title{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.pnt-mfu-titulo-seccion{
    text-transform: uppercase;
    font-family: sans-serif;
}

.pnt-mfu-contenedorLoginRegistro{
    padding: 10px 10px 10px 10px;
    float: right;
    width: auto;
}

.pnt-mfu-aviso-contenedor{
    padding: 50px;
}

.pnt-mfu-box-login {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 14%;
}

.pnt-mfu-margen-izquierdo-link {
    margin-left: 20px;
}

.pnt-mfu-nombre-usuario{
    padding-top: 17px;
    color: #FFF;
    font-weight: bold;
    font-family: sans-serif;
    width: auto;
    float: right;
}

.pnt-mfu-menu{
    background: rgba(0,0,0,0.3);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.pnt-mfu-nav{
    float: right;
    width:100%;
}

.pnt-mfu-text-area{
    resize: none;
}